@import 'frameworkCss.css';
@import 'slider.css';
@import 'animate.css';
@import '../font-awesome/css/font-awesome.css';

/* Config overflow box */            
[class*="borderR"]{
  position: absolute;                
  display: block;
  overflow: hidden;  
  box-sizing: initial;
}

/* Style border inner elements */
[class*="borderR"] > *{
  content: '';
  display: block;
  position: absolute;                
  width:200%; height: 200%;
  border-radius: 200%;
  box-sizing: initial;
}

.globalWidth{
  max-width: 1200px;
}

#headerBg{
  background: url('../images/headerBg.jpg') repeat center center;
  position: absolute;
  z-index: -1;
}

/* Start: Nav */

#menuP{}
#menuP::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #fff;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.3);
  z-index: -1;
}
#menuP .wrapper{}

#menuP .borderR-rightTop > *{
  border: 65px solid #fff;
  top: -100%;
  left: -100%;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
}
#menuP .borderR-rightTop{
  height: 65px;
  width: 65px;
  top: 75px;
  left: 25%;
}
#logoP{
  height: 196px;
  padding-top: 53px;
}
#logoP::before{
  content: '';
  position: absolute;
  width: 500%;
  height: 119px;
  bottom: 2px;
  right: 0;
  background-color: #fff;
  border-bottom-right-radius: 65px;
  box-shadow: 2px 3px 2px rgba(0,0,0,0.3);
  z-index: -1;
}

#navContainer{}
#navContainer .darkBgZone{}

#topOptions{
  position: absolute;
  top: 15px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 680px;
  z-index: 100;
}

#sessionBlock a,
#langBlock a{
  background: transparent;
  border: none;
  font: 700 20px Josefin Sans;
  color: #999;
  cursor: pointer;
  white-space: nowrap;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#sessionBlock a:hover,
#langBlock a:hover{
  color: #ff5e25;

  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
#sessionBlock a i,
#langBlock a i{
  margin-right: 10px;
  font-size: 27px;
  position: relative;
  top: 4px;
}

#sessionBlock{}
#sessionBlock a{
  background: transparent;
  border: none;
  font: 700 20px Josefin Sans;
  color: #999;
  white-space: nowrap;
}
#sessionBlock a i{}

#langBlock{}
#langBlock a{}
#langBlock a i{}

#socialBlock{
  width: 150px;
}
#socialBlock li{
  margin-left: 5px;
}
#socialBlock li a{
  background-color: #ff5e25;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border: 1px solid transparent;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#socialBlock li a:hover{
  background-color: #fff;
  color: #ff5e25;
  border-color: #ff5e25;
}
#socialBlock li a i{}

#navContainer > ul{}
#navContainer > ul > li{}
#navContainer > ul hr{
  display: none;
}
/*#navContainer > ul > li:nth-child(n+7){
  display: none;
}*/
#navContainer > ul > li > a{
  font: 15px Varela Round;
  color: #ff5e25;
  padding: 0px 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 3px;
  border-right: 1px solid #e2dede;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
#navContainer > ul > li:last-child > a{
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
#navContainer > ul > li > a:hover{
  border-bottom: 1px solid #ff5e25;
  background-color: rgba(255,255,255,0.5);

}

/* End: Nav */

/* Start: Search */

#searchBlock{
  display: none;
}
#searchBlock .inputbox{
  position: absolute;
  right: 0;
  bottom: -65px;
}
#searchBlock .inputbox::before{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  background: #ff5e25;
  height: 2px;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#searchBlock .inputbox:hover::before{
  width: 100%;
}
#searchBlock .inputbox i{
  font-size: 30px;
  top: 10px;
  position: absolute;
  color: #ff5e25;
  left: -45px;
}
#searchBlock .inputbox input{
  width: 420px;
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  padding: 10px 0;
  font: 16px Josefin Sans;
  color: #000;
}
#searchBlock .inputbox:hover input{
  color: #ff5e25;
}

/* End: Search */

/* Start: Header */

header{}

/* End: Header */

/* Start: Below Header */

#belowHeader{}
#belowHeader .wrapper ul{}
#belowHeader .wrapper ul li{}
#belowHeader .wrapper ul li:nth-child(1){
  overflow: hidden;
  cursor: pointer;
}
#belowHeader .wrapper ul li:nth-child(1) figure{
  background: no-repeat center center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#belowHeader .wrapper ul li:nth-child(1):hover figure{
  transform: scale(1.2) rotate(10deg);
}
#belowHeader .wrapper ul li:nth-child(1) h1{
  position: absolute;
  top: 30px;
  border-left: 40px solid #ff5e25;
  background-color: rgba(239,94,45,0.8);
  width: 100%;
  padding: 10px 0;
  padding-left: 25px;
  font: 40px Varela Round;
  color: #fff;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#belowHeader .wrapper ul li:nth-child(1):hover h1{
  border-left: 60px solid #ff5e25;
  background-color: rgba(255,255,255,0.8);
  color: #ff5e25;
}
#belowHeader .wrapper ul li:nth-child(1) a{}
#belowHeader .wrapper ul li:nth-child(n+2){
  background: #f7f7f7;
  padding: 30px;
}
#belowHeader .wrapper ul li:nth-child(n+2) figure{
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,0.15);
  background: center center no-repeat;
  background-size: cover;
}
#belowHeader .wrapper ul li:nth-child(n+2) span{
  width: 320px;
  margin-left: 40px;
}
#belowHeader .wrapper ul li:nth-child(n+2) span h1{
  font: Bold 24px Varela Round;
  color: #ff5e25;
  margin-bottom: 12px;
}
#belowHeader .wrapper ul li:nth-child(n+2) span p{
  font: 15px/20px Josefin Sans;
  margin-bottom: 15px;
}
#belowHeader .wrapper ul li:nth-child(n+2) span a{
  float: right;
  font: Bold 16px Varela Round;
  color: #ff5e25;
  cursor: pointer;
}
#belowHeader .wrapper ul li:nth-child(n+2) span a:hover{
  color: #666;
}
#belowHeader .wrapper ul li:nth-child(3){
  background: #e5e5e5;
}

/* End: Below Header */

/* Start: Above Footer */

#aboveFooter{}
#aboveFooter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #ff5e25 url('../images/aboveFooterLogoBg.png') top right no-repeat;
}
#aboveFooter::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #000 url('../images/aboveFooterBg.png')  center center no-repeat;
  background-size: cover;
  z-index: -1;
}
#aboveFooter .wrapper{}
#aboveFooter .wrapper #aFooterTxt{
  padding: 70px 60px;
}
#aboveFooter .wrapper #aFooterTxt h1{
  font: Bold 35px Varela Round;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
#aboveFooter .wrapper #aFooterTxt p{
  font: 17px Josefin Sans;
  color: #fff;
  text-align: center;
}
#aboveFooter .wrapper #aFooterInfo{
  padding: 90px 0 0 80px;
}
#aboveFooter .wrapper #aFooterInfo h1{
  font: 300 65px Josefin Sans;
  color: #fff;
}
#aboveFooter .wrapper #aFooterInfo strong{
  font: 55px Varela Round;
  color: #fff;
}

/* End: Above Footer */

/* Start: Footer */

footer{}
#contact{}
#contact figure{}

#contactInfo{
  background: #f1f1f1;
  padding: 40px 60px;
  border-top: 5px solid #bfbfbf;
}
#contactInfo > h1{
  font: 35px Varela Round;
  color: #ff5e25;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(239,94,45,0.4);
}
#contactInfo .infoBlock{
  text-align: center;
  margin-bottom: 30px;
}
#contactInfo .infoBlock:last-child{
  margin-bottom: 0;
}
#contactInfo .infoBlock h2{
  font: Bold 20px Varela Round;
  color: #ff5e25;
}
#contactInfo .infoBlock p{
  font: 100 25px Josefin Sans;
}
/*#contactInfo .infoBlock.mail p{
  word-break: break-all;
  font-size: 25px;
}*/
#contactInfo > a{
  display: block;
  background: #ff5e25;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 0;
  font: 18px Varela Round;
  cursor: pointer;
  margin: 40px auto 10px auto;
  text-align: center;
  width: 270px;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#contactInfo > a:hover{
  border: 1px solid #ff5e25;
  background: transparent;
  color: #ff5e25;
}

#navOptions{}

#navOptions nav{}
#navOptions nav h1{
  font: 25px Varela Round;
  color: #ff5e25;
  margin-bottom: 30px;
}
#navOptions nav ul{}
#navOptions nav ul hr{
  border: none;
  border-top: 1px dashed #ff5e25;
  margin: 30px 0 30px 0;
}

#navOptions nav ul li{
  position: relative;
  text-indent: 26px;
  margin-bottom: 20px;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#navOptions nav ul li:hover{
  text-indent: 42px;
}
#navOptions nav ul li::after{
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0%;
  background: #ff5e25;
  height: 1px;
  right: 0;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms; 
}
#navOptions nav ul li:hover::after{
  width: 85%;
}
#navOptions nav ul li::before{
  content: '';
  position: absolute;
  left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid #ff5e25;
  border-bottom: 5px solid transparent;
  top: 6px;
}
#navOptions nav ul li a{
  font: 18px Josefin Sans;
  color: #ff5e25;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}

#novelty{}
#novelty h1{
  font-family: Varela Round;
  margin-bottom: 20px;
  color: #ff5e25;
}
#novelty figure{
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  background: center center no-repeat;
  background-size: cover;
}
#novelty figcaption{
  position: absolute;
  bottom: 0;
  padding: 15px 20px;
  background: #ff5e25;
  width: 100%;
  color: #fff;
  font: 18px Varela Round;
}
#novelty p{
  font: 16px/24px Josefin Sans;
  text-align: justify;
  color: #868686;
  margin-bottom: 30px;
}
#novelty a{
  float: right;
  border: 1px solid #ff5e25;
  padding: 10px 25px;
  color: #ff5e25;
  font: 16px Varela Round;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}
#novelty a:hover{
  background: #ff5e25;
  color: #fff;
}


#footerTags{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #ff5e25;
}
#footerTags h1{
  font: 16px/24px josefin Sans;
  text-align: justify;
  color: #999;
}

/* End: Footer */

/* Start: Aside */

#content aside{}
#content aside .wrapper{}
#content aside .wrapper h1{
  border-left: 40px solid #ff5e25;
  padding-left: 15px;
  border-bottom: 5px solid #ff5e25;
  padding-bottom: 6px;
  color: #ff5e25;
  font: Bold 28px Varela Round;
}
#content aside .wrapper figure{
  height: 180px;
  background: center center no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
#content aside .wrapper p{
  font: 16px/28px Josefin Sans;
  text-align: justify;
  color: #969696;
}

#asideContact > h1{
  background: #ff5e25;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
}
aside .contactBox{
  background: #f7f7f7;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 15px;
  border-bottom: 2px solid #ff5e25;
  margin-bottom: 40px;
}
aside .contactBox:last-child{
  margin-bottom: 0;
}
aside .contactBox hgroup{
  background: #727272;
  color: #fff;
  padding: 10px 0;
  font: 12px Varela Round;
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
}
aside .contactBox h1{
  font-size: 10px;
}
aside .contactBox h2{}
aside .contactBox .infoBlock{
  margin: 0px 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  font-family: Josefin Sans;
}
aside .contactBox .infoBlock:last-of-type{
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
aside .contactBox .infoBlock strong{
  font-weight: bold;
  color:  #ff5e25;
  margin-bottom: 5px;
  display: block;
}
aside .contactBox .infoBlock p{
  font-size: 16px;
}

/* End: Aside */

/* ///// Content ///// */

#content{}

/* Start: Main */

#content main{}
#content main section{}
#content main section article{}

.title-1{
  color: #ff5e25;
  font-family: Varela Round;
}
.subtitle-1{
  color: #333;
  font-family: Josefin Sans;
}
.txt-1{
  font-family: Josefin Sans;
  line-height: 30px;
  color: #777;
  text-align: justify;
}
.img-1{
  float: left;
  background: center center no-repeat;
  margin-top: 20px;
  margin-left: 30px;
}
.list-1{
  padding-left: 40px;
  font: 20px Josefin Sans;
  color: #666;
}
.list-1 > li{
  padding-left: 10px;
  margin-bottom: 15px;
}
.list-1 > li:last-child{
  margin-bottom: 0;
}
.list-1 > li::before{
  content: '\f101';
  font: 16px FontAwesome;
  position: absolute;
  right: 100%;
  top: 5px;
  color: #ff5e25;
}
.list-2{
  padding-left: 40px;
  color: #666;
  font: 18px Josefin Sans;
}
.list-2 > li{
  display: list-item;
  list-style: decimal;
  margin-bottom: 30px;
  padding-left: 15px;
  line-height: 30px;
}
.list-2 > li:last-child{
  margin-bottom: 0;
}

#content main section article > p span::after{
  content: '';
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background: url('../images/contentBackShp.png');
  background-size: cover;
  z-index: -1;

}
#content main section article > a{}

/* End: Main */

/* Start: Success Case */

.successBox{
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  border-left: 2px solid #ff5e25;
  display: flex;
  margin-bottom: 50px;
}
.successBox:last-child{
  margin-bottom: 0;
}
.successBox figure{
  width: 40%;
  background: #fff;
  border-radius: 10px 0 0 10px;
}
.successBox figure img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 85%;
  max-height: 85%;
}
.successBox > div{
  width: 65%;
  padding: 20px 30px;
}
.successBox > div p{
  font: 14px/18px Josefin Sans;
  text-align: justify;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.successBox > div span{
  font: 12px Varela Round;
  color: #666;
}
.successBox > div span strong{
  color: #000;
  font-weight: bold;
}

/* End: Success Case */

/* Start: Phases */

#phases{}
#phases figure{
  width: 100%;
  height: auto;
}
#phases figure img{
  width: 100%;
  height: auto;
}
#phases figure img[data-mobile]{
  display: none;
}


/* End: Phases */

/* Start: Contact */

#contact{}
#contact .wrapper{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}
#contact .wrapper > div{
  width: 23%;
}
#contact .contactBox{
  background: #f7f7f7;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 25px;
  border-bottom: 2px solid #ddd;
}
#contact .contactBox hgroup{
  background: #ff5e25;
  color: #fff;
  padding: 15px 0;
  font: 14px Varela Round;
  border-radius: 10px 10px 0 0;
  margin-bottom: 25px;
}
#contact .contactBox h1{
  font-size: 12px;
}
#contact .contactBox h2{}
#contact .contactBox .infoBlock{
  margin: 0px 25px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  font-family: Josefin Sans;
}
#contact .contactBox .infoBlock:last-of-type{
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}
#contact .contactBox .infoBlock strong{
  font-weight: bold;
  color:  #ff5e25;
  margin-bottom: 5px;
  display: block;
}
#contact .contactBox .infoBlock p{
  font-size: 18px;
}

/* End: Contact */

/* Start: References */

#references{
  display: flex;
  flex-flow: wrap;
}
#references .wrapper{
  display: flex;
  flex-flow: wrap;
  margin-bottom: -40px;
}

.refBox{
  width: 31%;
  background: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 45px;
  padding-bottom: 30px;
}
.refBox:nth-child(3n+2){
  margin-left: 3.5%;
  margin-right: 3.5%;  
}
.refBox figure{
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: #fff;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 5px solid #ddd;
}
.refBox figure img{
  width: auto;
  height: auto;
  max-width: 85%;
  max-height: 85%;
}
.refBox ul{
  padding: 0 40px;
}
.refBox ul li{
  font: 18px/25px josefin Sans;
  color: #666;
}
.refBox ul li strong{
  font-weight: bold;
  color: #000;
}

/* End: References */

/* Start: Services */

#services{}
#services ul{}
#services ul li{
  margin-bottom: 5px;
}
#services ul li a{
  background: #FCFCFC;
  display: block;
  padding: 20px 20px;
  padding-left: 90px;
  font: 20px Josefin Sans;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  overflow: hidden;

  -webkit-transition:all 500ms;
  -moz-transition:all 500ms;		
  -ms-transition:all 500ms;
  -o-transition:all 500ms;
  transition:all 500ms;
}
#services ul li a::before{
  content: '';
  position: absolute;
  background: #ff5e25;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  -webkit-transition:all 500ms;
  -moz-transition:all 500ms;		
  -ms-transition:all 500ms;
  -o-transition:all 500ms;
  transition:all 500ms;
}
#services ul li a:hover{
  color: #fff;
}
#services ul li a:hover::before{
  width: 100%
}
#services ul li a figure{
  position: absolute;
  height: 100%;
  width: 65px;
  background: #ff5e25;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  z-index: 10;

  -webkit-transition:all 200ms;
  -moz-transition:all 200ms;		
  -ms-transition:all 200ms;
  -o-transition:all 200ms;
  transition:all 200ms;
}

#services ul li a:hover figure{
  background-color: #cf2e00;
}

#services ul li a figure img{
  max-width: 60%;
  max-height: 60%;
  margin: 0;
}
#services ul li a p{
  position: relative;
z-index: 10;
font: 16px/20px Josefin Sans;
margin-top: 15px;
}
#services ul li a h3{
  position: relative;
  z-index: 10;
  font-weight: bold;  
}

.logoColombo{
  position: absolute;
  width: 260px;
  right: 0;
  top: -55px;
}
.logoColombo img{
  width: 100%;
}
.logoColombo p{
  font: 10px Josefin Sans;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

/* End: Services */