@media (max-width:1366px){
  #logoP::before {
    display: none;
  }
  #menuP .borderR-rightTop {
    display: none;
  }
  #logoP {
    position: absolute;
    width: 170px;
    padding: 10px;
    margin-left: 5px;
  }
  .globalWidth{
    width: 90%;
  }
  #content {
    margin-top: 110px;
  }
  #topOptions {
    top: 20px;
    width: 200px;
  }
  #sessionBlock a, #langBlock a {
    font-size: 0;
  }
  #navContainer {
    margin: 0;
    width: 100%;
    border-left: 180px solid transparent;
    top: 17px;
  }
  #navContainer > ul > li > a {
    font: 14px Varela Round;
    padding: 10px 7px;
  }
  #menuP {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 75px;
  }
  #headerBg {
    top: -150px;
  }  
  header{
    margin-top: 140px !important;
    height: 450px !important;
  }
  header #sliderBox ul {
    height: 450px;
  }
  header #sliderBox ul li .txtContainer {
    padding: 20px 30px;
  }
  header #sliderBox ul li span h1 {
    font: 22px/28px Varela Round;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  header #sliderBox ul li span p {
    font: 16px/22px Josefin Sans;
  }
  #sliderBorders div {
    height: 35px;
  }
  header #sliderBox ul li .txtContainer {
    bottom: 0px;
    top: 0px;
  }

  #menuP .wrapper {
    width: 97%;
    max-width: inherit;
  }

  #socialBlock li a {
    width: 35px;
    height: 35px;
  }
  #langBlock {
    margin-right: 10px;
    width: 26px;
    height: 33px;
  }
  #sessionBlock {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    overflow: hidden;
  }

  #belowHeader .wrapper ul li:nth-child(n+2) span {
    width: 100%;
    margin-left: 20px;
    margin-top: 25px;
    padding-right: 20px;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) figure {
    position: absolute;
    left: -200px;
    top: 30px;
  }
  #belowHeader .wrapper ul li:nth-child(1){
    width: 30%;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) {
    width: 70%;
    border-left: 220px solid transparent;
    border-right: 20px solid transparent;
    padding: 0;
  }
  #belowHeader .wrapper ul li:nth-child(1) h1 {
    font-size: 25px;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) span h1 {
    font-size: 20px;
  }
}

@media (max-width:1280px){
  #topOptions {
    top: 55px;
  }
}

@media (max-width:1030px){
  .refBox:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }
  .refBox{
    width: 48%;
  }
  .refBox:nth-child(2n+1) {
    margin-right: 4%;
  }
  #topOptions {
    top: 20px;
  }
  #navContainer > ul hr{
    display: block;
  }
  #navContainer > ul > li:nth-child(n+7){
    display: block;
  }
  main {
    border-right: 0px solid rgba(0,0,0,0.1) !important;
  }
  #logoP {
    left: 50px !important;
    right: inherit !important;
  }
  #nvBrs{
    width: 50px;
    height: 50px;
    top: 10px;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nvBrs::after{
    content: '\f0c9';
    font: 30px FontAwesome;
    color: orangered;
    display: block;
  }
  #navContainer {
    margin: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 0;
    visibility: hidden;
    z-index: 200;

    -webkit-transition:all 200ms;
    -moz-transition:all 200ms;		
    -ms-transition:all 200ms;
    -o-transition:all 200ms;
    transition:all 200ms;
  }
  #navContainer .darkBgZone {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    opacity: 0;

    -webkit-transition:all 200ms;
    -moz-transition:all 200ms;		
    -ms-transition:all 200ms;
    -o-transition:all 200ms;
    transition:all 200ms;
  }
  #navContainer > ul {
    height: 100%;
    background: #fff;
    width: 290px;
    padding: 15px 20px;
    left: -290px;

    -webkit-transition:all 200ms;
    -moz-transition:all 200ms;		
    -ms-transition:all 200ms;
    -o-transition:all 200ms;
    transition:all 200ms;
  }
  #navContainer > ul > li {
    width: 100%;
  }
  #navContainer > ul > li > a {
    font-size: 18px;
  }
  #logoP {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media (max-width: 768px){
  .refBox{
    width: 100%;
  }
  .refBox:nth-child(2n+1) {
    margin-right: 0;
  }
  #contact{
    margin: 0 !important;
    width: 100% !important;
  }
  #navOptions{
    width: 100% !important;
    margin-bottom: 30px;
  }
  #navOptions nav{
    display: none;
  }
  #novelty{
    display: none;
  }
  #contactInfo{
    width: 100% !important;
  }
}

@media (max-width:560px){
  #phases figure img{
    display: none;
  }
  #phases figure img[data-mobile]{
    display: block;
  }
  .logoColombo{
    width: 100%;
    position: relative;
    top: 0;
  }
  #contact .wrapper {
    flex-wrap: wrap;
  }
  #contact .contactBox{
    width: 100% !important;
  }
  #logoP {
    overflow: hidden;
    width: 50px;
  }
  #logoP > img {
    width: 150px;
  }

  #sliderBorders{
    display: none;
  }

  header #sliderBox ul li .txtContainer {
    bottom: inherit;
    top: 30px;
    left: 0;
    padding: 10px 15px;
    width: 100%;
  }
  header #sliderBox ul li span h1 {
    font: 20px/23px Varela Round;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  header #sliderBox ul li span p {
    font: 14px/17px Josefin Sans;
    margin-bottom: 0;
  }
  header #sliderBox ul {
    height: 440px;
  }
  header{

    margin-top: 70px !important;
    height: 450px !important;
    width: 100% !important;
  }
  header #sliderBox #Arrows {
    bottom: 10px;
    width: 30px;
    height: 71px;
    z-index: 10;
    right: 15px;
  }
  header #sliderBox #Arrows > div {
    width: 35px;
    height: 35px;
  }
  header #sliderBox ul li .imgContainer {
    border-radius: 0px;
  }

  #belowHeader .wrapper ul li:nth-child(1) {
    width: 100%;
    height: 250px;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) {
    width: 100%;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    height: auto;
    padding-bottom: 25px;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) figure {
    position: relative;
    left: 0;
    float: none;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  #belowHeader .wrapper ul li:nth-child(n+2) span a {
    padding-right: 30px;
  }  
  .img-1 {
    margin-left: 0;
  }
  #aboveFooter::before {
    background-image: none;
  }
  #aboveFooter .wrapper #aFooterTxt {
    padding: 20px 0px;
  }
  #aboveFooter .wrapper #aFooterInfo {
    padding: 0px 0 20px 0px;
  }
  #aboveFooter .wrapper #aFooterInfo h1 {
    font: 300 40px Josefin Sans;
    color: #fff;
    text-align: center;
  }
  #aboveFooter .wrapper #aFooterInfo strong {
    font: 35px Varela Round;
    text-align: center;
    display: block;
  }
  .successBox {
    flex-direction: column;
  }
  .successBox figure {
    width: 100%;
    height: 170px;
  }
  .successBox > div {
    width: 100%;
    padding: 20px 30px;
  }#contactInfo {
    background: #f1f1f1;
    padding: 40px 25px;
  }

}