/* CSS Document */

header #sliderBox{
  position: relative;
  width: 100%;
  height: auto;
  float: left;
  margin-right: 5%;
}

#sliderBorders{
  position: absolute;
height: 100%;
}
#sliderBorders div{
  height: 60px;
width: 325px;
background: #ef5e2d;
z-index: 10;
left: 65px;
position: absolute;
}
#sliderBorders div:nth-child(1){
  top: -30px;
}
#sliderBorders div:nth-child(1)::before{
 content: '';
position: absolute;
top: 0;
right: -30px;
width: 0;
height: 0;
border-bottom: 30px solid #bf2e00;;
border-right: 30px solid transparent;
}
#sliderBorders div:nth-child(2){
  bottom: -30px;
}

#sliderBorders div:nth-child(2)::before{
 content: '';
position: absolute;
bottom: 0;
right: -30px;
width: 0;
height: 0;
border-top: 30px solid #bf2e00;
border-right: 30px solid transparent;
}

/* Arrows */

header #sliderBox #Arrows{
  position: absolute;
  bottom: 30px;
  width: 50px;
  height: 101px;
  z-index: 10;
  right: 30px;
}
header #sliderBox #Arrows > div{
  margin: 0 auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #ef5e2d;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;

}
header #sliderBox #Arrows > div:hover{
  background-color: #cf3e0d !important;
}
header #sliderBox #Arrows > div i{
  font-size: 20px;
  color: #fff;
}
header #sliderBox #Arrows > .Arrow1{
  border-radius: 5px 5px 0 0;
}
header #sliderBox #Arrows > .Arrow2{
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}
header #sliderBox #Arrows > .Arrow1 i{
  right: 20px !important;
}
header #sliderBox #Arrows > .Arrow2 i{
  left: 20px;
}

/* Images */

header #sliderBox ul{
  width: 100%;
  height: 600px;
}
header #sliderBox ul li{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  opacity: 1;
  visibility:hidden;        
}
header #sliderBox ul li .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
header #sliderBox ul li figure{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/* Title, Txt, Link */

header #sliderBox ul li .txtContainer{
  position: absolute;
  display: block;
  bottom: 30px;
  top: 30px;
  opacity: 1;
  background-color: rgba(239,94,45,0.8);
  width: 325px;
  box-sizing: border-box;
  padding: 30px 40px;
  left: 65px;
}
header #sliderBox ul li  span{}
header #sliderBox ul li span h1{
  color: #fff;
  font: 26px Varela Round;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
header #sliderBox ul li span p{
  font:16px/25px Josefin Sans;
  text-align:center;
  color:#fff;
  margin-bottom: 30px;
}
header #sliderBox ul li span a{
  display: block;
  text-align: center;
  color: #fff;
  font: 600 30px Josefin Sans;
}